/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            //SPANISH ISO DISTRIBUTION
            // -----------------------------------------------------------------------------------------
            // |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y   |  U   |  I  |  O  |  P  |  ´   |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H   |  J   |  K  |  L  |  ñ  |      |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N   |  M   |  ,  |  .  |  -  |      |
            //                    | ALT | LWR | SPC |   | BKSP | RSE  | ENT |
            //ANSI ENGLISH DISTRIBUTION
            // -----------------------------------------------------------------------------------------
            // |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y   |  U   |  I  |  O  |  P  |  {   |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H   |  J   |  K  |  L  | ;   |      |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N   |  M   |  ,  |  .  |  /  |      |
            //                    | ALT | LWR | SPC |   | BKSP | RSE  | ENT |
            bindings = <
                &kp ESC    &kp Q   &kp W     &kp E    &kp R        &kp T    &kp Y    &kp U    &kp I     &kp O   &kp P     &kp LBRC
                &kp LSHFT  &kp A   &kp S     &kp D    &kp F        &kp G    &kp H    &kp J    &kp K     &kp L   &kp SEMI  &kp NO
                &kp LCTRL  &kp Z   &kp X     &kp C    &kp V        &kp B    &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH  &kp NO
                                   &kp LALT  &mo 1    &kp SPACE    &kp BSPC &mo 2    &kp RET  
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |   '  |
            // |TAB   |     |     |     |     |     |   | LFT | DWN |  UP | RGT |     |      |
            // |      |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   |BKSP |     | ENT |
            // -----------------------------------------------------------------------------------------
            // |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |   -  |
            // |TAB   |     |     |     |     |     |   | LFT | DWN |  UP | RGT |     |      |
            // |      |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   |BKSP |     | ENT |
            bindings = <
                &kp NO  &kp N1 &kp N2   &kp N3   &kp N4  &kp N5   &kp N6   &kp N7   &kp N8  &kp N9     &kp N0  &kp MINUS
                &bt TAB &kp NO &kp NO   &kp NO   &kp NO  &kp NO   &kp LEFT &kp DOWN &kp UP  &kp RIGHT  &kp NO  &kp NO 
                &kp NO  &kp NO &kp NO   &kp NO   &kp NO  &kp NO   &kp NO   &kp NO   &kp NO  &kp NO     &kp NO  &kp NO 
                                        &kp LGUI &trans  &trans   &trans   &trans   &trans 
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |   |  |  !  |  "  |  #  |  $  |  %  |   |  &  |  /  |  (  |  )  |  =  |  `  |
            // |      |     |  <  |  >  |  @  |  ~  |   |  +  |  *  |  {  |  }  |  ¿  |  ?  |
            // |      |     |     |     |     |     |   |  ^  |  \  |  [  |  ]  |  ¡  |  !  |
            //                    | GUI |     | SPC |   | BKSP |     | ENT |
            // -----------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #    |  $      |  %      |   |  ^        |  &      |  *   |  (   |  )  |  C(A(\)) |
            // |      |     | NUBS|S(NUBS)| C(A(Q)) | C(A({)) |   |  }        | S(})    |  "   |  \   |  +  |  S(-)    |
            // |      |     |     |       |         |         |   | C(A("))   | C(A(-)) | S(") | S(\) | !   |  S(+)    |
            //                    | ALT   |         | SPC     |   | BKSP      |         | ENT  |
            bindings = <
                &kp GRAVE &kp EXCL &kp AT   &kp HASH     &kp DLLR      &kp PRCNT             &kp CARET       &kp AMPS          &kp ASTRK   &kp LPAR     &kp RPAR &kp LC(LA(BSLH))
                &kp NO    &kp NO   &kp NUBS &kp LS(NUBS) &kp LC(LA(Q)) &kp LC(LA(RBKT))      &kp RBKT        &kp SL(RBKT)      &kp DQT     &kp BSLH     &kp PLUS &kp SL(MINUS)
                &kp NO    &kp NO   &kp NO   &kp NO       &kp NO        &kp NO                &kp LC(LA(DQT)) &kp LC(LA(MINUS)) &kp LS(DQT) &kp LS(BSLH) &kp EXCL &kp SL(PLUS)
                                            &kp LALT     &trans        &trans                &trans          &trans            &trans
            >;
        };
    };
};
